body {
    margin: 0;
    padding-top: 107px; 
    background-image: url('img/p3.jpg'), url('img/a2.jpg'), url('img/p3.jpg'); 
    background-size: auto, auto, auto; 
    background-position: top left, top right, bottom center; 
    background-repeat: no-repeat;
}

.main-wrapper {
    padding: 5%;
}

.text {
    text-align: center;
    font-family: 'Rakkas';
    color: #2fdb11;
}

.search-bar {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.search-bar input {
    width: 70%; 
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-right: 5px; 
}

.search-button {
    background-color: #2fdb11;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: darkgreen;
}

.search-button i {
    font-size: 18px;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%; 
}

.content {
    width: 100%; 
    margin-bottom: 40px;
}

.card-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5%; 
    text-align: center;
    border-radius: 20px;
    animation: glow 2s infinite alternate;
    transition: transform 0.3s ease; 
}

.card-container:hover {
    transform: scale(1.05); 
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #39ff14;
    }
    100% {
        box-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14, 0 0 20px #39ff14;
    }
}

.card {
    text-align: center; 
}

.card img {
    max-width: 100%; 
    height: auto; 
}

.card-description {
    color: #3de420;
    font-size: 20px;
    margin-top: 20px;
    font-family: 'Dancing Script';
}


@media only screen and (min-width: 768px) {
    .content {
        width: 48%;
    }

    .card-container {
        padding: 3%; 
    }

    .card-description {
        font-size: 18px; 
    }
}

@media only screen and (min-width: 992px) {
    .main-wrapper {
        padding: 10%; 
    }
}


@media only screen and (max-width: 768px) {
    .card img {
        max-width: 100%;
        height: auto;
    }
}



